%div{:style => "width:600px;margin:40px auto"}
  .slider-wrapper.theme-default.controlnav-thumbs
    .ribbon
    #nivoslider.nivoSlider{:style => "width:600px;height:264px;"}
      - @photos.each do |photo|
        %img{:src => photo, :rel => photo} 
        / #, :alt => photo.name}

.title_homepage
  Timeline isn't as bad as it seems ;)

%div{:style => "text-align: center;"}
  = link_to image_tag("fb_login_big.png", :style => "margin-top: 65px;"), user_omniauth_authorize_path(:facebook)
  
.title_homepage_bottom
  to create your own cover