.main_wrapper
  .cover_template= image_tag("homepage_timeline_cover_template.png")
  
  %ul.slider
    - @photos.each do |photo|
      %li
        %img{:src => photo, :rel => photo} 

.intro_text
  .title_homepage
    CREATE A Facebook Cover IN JUST A FEW SECONDS

.sign_in_button
  = link_to image_tag("fb_login_big.png"), user_omniauth_authorize_path(:facebook)
  
.intro_text
  %p
    Timeline isn't as bad as it seems ;)

-# .title_homepage_bottom
-#   to create your own cover