.editor
  #canvas
    .cover_image#screen
      = image_tag @cover.source.branded.url, :id => 'user_image', :style => "z-index:10"
  
    .profile_pic_wrapper
      .profile_pic
        .image
          = image_tag current_user.avatar.url, :id => 'user_avatar'#, :height => 125, :width => 125
      
  = #render :partial => 'choose_photos'
  
  %a#generate_button.btn.btn-primary.btn-large{:href => "#{user_omniauth_authorize_path(:facebook)}", 'data-loading-text' => 'Authenticating with Facebook...'}
    %i{:class => "icon-upload icon-white"}
    Upload to Facebook