.row.photo-list.photo-select-bar
  - 4.times do |i|
    .photo-select{:id => "box_#{i}"}
      = link_to 'Choose a photo', photo_picker_path(:box => i), :remote => true, :class => 'thumb'
#fb_photo_picker