.editor
  #canvas
    .cover_image#screen
      = image_tag @cover.source.url, :id => 'user_image', :style => "z-index:10"
  
    .profile_pic_wrapper
      .profile_pic
        .image
          = image_tag current_user.avatar.url, :id => 'user_avatar'
      

  .form-actions
    = link_to 'Download', download_cover_path(@cover), :id => 'download_button', :class => 'btn btn-primary btn-large', 'data-loading-text' => 'Downloading...', :method => :post
    = link_to 'Upload to Facebook', upload_cover_url, :id => 'upload_button', :class => 'btn btn-primary btn-large', 'data-loading-text' => 'Uploading...', 'data-popup' => true, 'data-dialog-name' => 'Uploading'