#canvas
  .cover_image#screen
    = image_tag current_user.current_photo.source.url, :id => 'user_image', :style => "z-index:10"
  
.profile_pic_wrapper
  .profile_pic
    .image
      = image_tag current_user.avatar.url, :id => 'user_avatar'
      
.form-actions#stickers 
  - Sticker.all.each do |sticker|
    = image_tag sticker, :class => 'sticker'
.well
  = link_to "Save", '#', :class => 'btn'