// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#stickers .sticker {
  width: 80px;
}

#canvas {
  position: relative;
  overflow: hidden;
}
#canvas .sticker {
  position: absolute;
  width: 80px;
  z-index: 30;
}