.content .editor {
  .form-actions a.btn {
    width: 180px;
  }
}

#upload_modal {
  .step2 {
    display: none;
  }
  h2.uploading {
    background: url("/assets/fb-loading.gif") no-repeat scroll 0 12px #FFFFFF;
    padding-left: 27px;
  }
  p {
    font-size: 15px;
  }
  .instructions {
    text-align: center;
  }
  .button-out {
    text-align: center;
    margin: 20px 0;
  }
  .modal-right {
  }
}

#upload_modal.uploaded {
  .step1 {
    display: none;
  }
  
  .step2 {
    display: block;
  }
}
