// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #294058;
}

body.welcome {
  background-color: black;
  background-image:url(https://s3.amazonaws.com/pickura/static/background.png);
}

.main_wrapper {
  width:100%;
  margin:0px auto 119px auto;
  
  .cover_template img {
    position: absolute;
    width: 515px;
    margin: 59px 244px;
    z-index: 267;
  }
}

.sign_in_button {
  text-align: center;
}

.intro_text {
  width:840px;
  margin:0 auto 40px auto;
  text-align:center;
  font-family: StreetHumoresque;

  .title_homepage {
    font-size: 24pt;  
    color: #fff;
    line-height: 44px;
    margin: auto;
    margin-top: 172px;
  }
  
  p {
    font-size:18px;
    color:#9293A6;
    margin-top:15px;
  }  
}


.title_homepage_bottom {
  font-family: StreetHumoresque;
  font-size: 21pt;
  color: #555;
  text-align: center;
  width: 700px;
  line-height: 44px;
  margin: auto;
}


.roundabout-holder {
   list-style: none;
   padding: 0;
   margin: -21px auto;
   width: 600px;
   height: 250px;
}
.roundabout-moveable-item {
   width: 422px;
   height: 180px;
   cursor: pointer;
}
.roundabout-in-focus {
   cursor: auto;
}