.title_bar {
  background-color: #222;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  padding: 17px 0px 0px 0px;
}

.new_photo_link {
  float: right;
}


.photo_list {
  list-style: none;

  .photo {
    padding: 7px;
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    margin: 10px 0;
    position: relative;
    height: 166px;
    
    &:hover {
      background-color: #eee;
    }    

    .img {
      display: inline-block;
      width: 270px;
      img {
        width: 260px;
      }
    }
    .name {
      display: inline-block;
      width: 500px;
      font-size: 24px;
      position: absolute;
      margin-top: 4px;
    }
    .tags {
      display: inline-block;
      vertical-align:middle;
      position: absolute;
      margin-top: 39px;
      font-style: italic;
    }
	  .category {
      display: inline-block;
      vertical-align:middle;
      position: absolute;
      margin-top: 73px;
      font-style: italic;	    
	  }
  	.watermark {
      display: inline;
      float: right;
      font-style: italic;
      margin-top: 78px;
      right: 63px;
      vertical-align: bottom;
  	  label {
  	    display: inline;
  	    font-weight: bold;
  	    margin-right: 5px;
  	  }
	  }
    .delete {
      display: table;
      float: right;
      position: absolute;
      right: 10px;
      top: 4px;
      vertical-align: top;
      &:hover {
       background-color: black; 
       color: white;
      }
    }  
  }
}

.gallery_list {
  list-style: none;

  .photo {
    padding: 7px;
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    margin: 10px 2px;
    
    &:hover {
      background-color: #eee;
    }    

    .img {
      display: inline-block;
      img {
        width: 868px;
      }
    }
    .name {
      font-size: 21px;
      margin-top: 4px;
      margin-bottom: 4px;
      font-family: fantasy;
      font-color: #444;
    }
  }
}

.tag_list {
//  padding: 7px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid silver;
  margin: 10px 2px;
  text-align:center;

  .tag_title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .tags {
    margin-right: -1px;
    margin-left: -1px;
  }
  .tag {
    border-top: 1px dotted #CCC;
    padding-top: 5px;
    padding-bottom: 5px;

    &.active {
      background-color: #002F47;
//      background-image: url("/assets/filter-arrow.gif");
//      background-repeat: no-repeat;
//      background-position: right top;
      border: none;
      a {
        color: white;
        text-decoration: none;
      }
    }
    &.active + li {
      border: none;
    }

    a {
      text-decoration: none;
      color: #00003D;
    }
  }
}

.flickr_pagination {
  text-align: center;
  margin-top: 20px;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: white;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
    margin-bottom:10px;
  }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

.content .button_to {
  display: inline;
  div { display: inline; }
  input { width: 100px; }
}