/************************************************************************************************ 
 * Styles for the Gallery
 *************************************************************************************************/

.title_bar {
  background-color: #222;
//  -webkit-border-radius: 10px;
//  -moz-border-radius: 10px;
  border: 1px #555 solid;
}

.title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  padding: 17px 0px 0px 0px;
}

.gallery_list {
  list-style: none;

  .photo {
    background: white;
    margin: 10px 0;
    padding:15px;
    border-bottom: 4px solid #000;
    border-right: 4px solid #000;
    height:275px;

    &:hover {
    }

    .img {
      display: inline-block;
      img {
      }
    }
    
    .name {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 10px;
      font-color: #444;
      width:80%;
      float:left;
    }

    .nameShowPage {
      font-size: 24px;
      margin-bottom: 14px;
      font-color: #444;
      width:80%;
      float:left;
    }
    
    .download_count {
      font-size:11px;
      width:20%;
      float:left;
      text-align:right;
      color:#333;
    }
        
    .social_sharing {
      left: 10px;
      position: relative;
      text-align: center;
      top: -35px;
      z-index: 999;
      .content {
        padding: 8px 5px 6px;
        background-color: #eee;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        position:absolute;
      }
    }
  }
  img.cover {
    height: 247px;
    width: 668px;
  }
}

.show_cover {
  // For the show photo page (no more hiding)
  
  .photo {
    height:330px;
  }

  .social_sharing {
    background-color: #eee;
    border-bottom: 4px solid #000;
    border-right: 4px solid #000;
    padding: 5px 5px 10px;
    text-align: center;
    z-index: 999;
    margin-bottom:10px;
  }
  .facebook {
    background-color: #333;
    border-bottom: 4px solid #000;
    border-right: 4px solid #000;
    padding:15px 0 0px;
    text-align:center;
  }
  .actions {
    margin-top: 10px;
    text-align: right;
  }
}

.tag_list {

  margin: 10px;
  padding: 10px;
  text-align:left;
  overflow: hidden;
  background-color:#e7ebf2;
  /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;*/
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;

  .tag_title {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0 ;
    color: #059;
    line-height: 100%;
  }
  .filters {
   font-size:14px;
   font-weight:bold;
   text-align:center;
   margin:0 0 20px 0;
   .tag {
     &.active {
       background-color: #0063dc;
       padding:3px 5px;
       border: none;
       a{
         color:white;
       }
     }
   }
  }
  .gallery_tags {
    margin:0;
  }
  .tags {
    list-style-type:none;
  }
  .tag {
    border-top: 1px dotted #CCC;
    padding: 5px;
    .label {
      float:right;
      padding:0px 3px 0px;
    }
    &.active {
      border: none;
      background-color:#333;
      font-weight:bold;
      a {
        color: #fc0;
        text-decoration: none;
      }
      .label {
        background-color:#fff;
        color:#333;
      }
    }
    &.active + li {
      border: none;
    }

    a {
      text-decoration: none;
      color: #333;
    }
  }
}

.flickr_pagination {
  text-align: center;
  margin: 20px auto;
  padding: 0.3em;
  cursor: default;
  width: 642px;

  a, span, em {
    padding: 0.2em 0.5em; 
  }

  .disabled {
    color: #aaaaaa; 
  }
  
  .current {
    font-style: normal;
    font-weight: bold;
    color: #fc0;
  }
  
  a {
    color: white;
    text-decoration: none;

    &:hover, &:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; 
    }
  }

  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
    margin-bottom:10px;
  }

  .previous_page, .next_page {
    border-width: 2px;
  }

  .previous_page {
    margin-right: 1em;
  }

  .next_page {
    margin-left: 1em;
  }
}

/************************************************************************************************ 
 * Styles for the Admin (/photos)
 *************************************************************************************************/
.title_admin {
 color: #222;
 text-align:left;
 font-size: 34px;
 font-weight: bold;
 margin-bottom: 20px;  
 padding: 17px 0px 0px 0px;
}

.new_photo_link {
 float: right;
 padding: 17px 0px 0px 0px;
 text-align: right;
}
 
.photo_list {
  list-style: none;

  .photo {
    padding: 7px;
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid silver;
    margin: 10px 0;
    position: relative;
    height: 96px;
    
    &:hover {
      background-color: #eee;
    }    

    .img {
      display: inline;
      width: 270px;
      img {
        width: 260px;
        margin-right: 10px;
      }
    }
    .name {
      display: inline;
      width: 500px;
      font-size: 24px;
      position: absolute;
      margin-top: 4px;
    }
    .tags {
      display: inline;
      vertical-align:middle;
      position: absolute;
      margin-top: 39px;
      font-style: italic;
    }
	  .category {
      display: inline;
      vertical-align:middle;
      position: absolute;
      margin-top: 73px;
      font-style: italic;	    
	  }
  	.watermark {
      display: inline;
      float: right;
      font-style: italic;
      margin-top: 78px;
      right: 63px;
      vertical-align: bottom;
      label {
        display: inline;
        font-weight: bold;
        margin-right: 5px;
      }
    }
    .delete {
      display: table;
      float: right;
      position: absolute;
      right: 10px;
      top: 4px;
      vertical-align: top;
      &:hover {
       background-color: black; 
       color: white;
      }
    }
  }
}

.flickr_pagination_admin {
  text-align: center;
  margin-top: 20px;
  padding: 0.3em;
  cursor: default;

  a, span, em {
    padding: 0.2em 0.5em; 
  }

  .disabled {
    color: #aaaaaa; 
  }
  
  .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
  }
  
  a {
    border: 1px solid #dddddd;
    color: black;
    text-decoration: none;

    &:hover, &:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; 
    }
  }

  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
    margin-bottom:10px;
  }

  .previous_page, .next_page {
    border-width: 2px;
  }

  .previous_page {
    margin-right: 1em;
  }

  .next_page {
    margin-left: 1em;
  }
}

.content .button_to {
  display: inline;
  div { display: inline; }
  input { width: 100px; }
}