// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#screen {
  border: 1px solid black;
  clear: both;
  height: 400px;
  overflow: hidden;
  width: 851px;
  
  img {
    position: relative;
    z-index:10;
  }
}

.sidebar_images {
  
}